<header>
	<section class="pic">
		<img src="https://si0.twimg.com/profile_images/378800000077087524/fef5c832e45c62f6a3f8c7b747a6ecf1_bigger.jpeg" />
	</section>
	<section class="info">
		<h2><%= username %></h2>
		<p>Fleet Admiral</p>
	</section>
	<section class="store">
		<a href="#/store"><span class="icon-shopping-cart"></span> Store</a>
	</section>
</header>

<nav class="game_options">
	<a href="#" class="active"><span class="icon-rocket"></span> Current Battles</a>
	<a href="#"><span class="icon-search"></span> New Battle</a>
</nav>

<section class="seperator">
	<h3>Your Turn</h3>
	<p>1 battle</p>
</section>

<section class="battle_list">
	<div class="battle">
		<img src="https://lh3.googleusercontent.com/-PiA9-mQwX4M/AAAAAAAAAAI/AAAAAAAAAAA/UvmSIUmb3no/s60-c-k/photo.jpg" />
		<div class="info">
			<h2>John Snow</h2>
			<p>Lieutenant</p>
		</div>
		<a href="#">Play</a>
	</div>
</section>

<section class="seperator">
	<h3>Their Turn</h3>
	<p>3 battles</p>
</section>

<section class="waiting_list">
	<div class="battle">
		<img src="https://lh3.googleusercontent.com/-PiA9-mQwX4M/AAAAAAAAAAI/AAAAAAAAAAA/UvmSIUmb3no/s60-c-k/photo.jpg" />
		<div class="info">
			<h2>John Snow</h2>
			<p>Lieutenant</p>
		</div>
		<a href="#">Wait</a>
	</div>
	<div class="battle">
		<img src="https://lh3.googleusercontent.com/-PiA9-mQwX4M/AAAAAAAAAAI/AAAAAAAAAAA/UvmSIUmb3no/s60-c-k/photo.jpg" />
		<div class="info">
			<h2>John Snow</h2>
			<p>Lieutenant</p>
		</div>
		<a href="#">Wait</a>
	</div>
	<div class="battle">
		<img src="https://lh3.googleusercontent.com/-PiA9-mQwX4M/AAAAAAAAAAI/AAAAAAAAAAA/UvmSIUmb3no/s60-c-k/photo.jpg" />
		<div class="info">
			<h2>John Snow</h2>
			<p>Lieutenant</p>
		</div>
		<a href="#">Wait</a>
	</div>
</section>